[user]
	name = Jose Garcia

[rerere]
    enabled = true

[includeIf "hasconfig:remote.*.url:https://**github.com/**"]
    path = ~/.dotfiles/.gitconfig-github

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:*/**"]
    path = ~/.dotfiles/dotfiles-personal/.gitconfig-bitbucket
