[user]
	name = Jose Garcia
	email = 54786476+Tauromachian@users.noreply.github.com

[rerere]
    enabled = true

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:*/**"]
    path = ~/.dotfiles/dotfiles-personal/.gitconfig-bitbucket

[includeIf "hasconfig:remote.*.url:gitlab.radissonhotels.com:*/**"]
    path = ~/.dotfiles/dotfiles-personal/.gitconfig-ey
